<mat-card>
    <mat-card-title> Excluir produto </mat-card-title>
    <form [formGroup]="productsForm">
        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="name" name="name" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)" formControlName="price" name="price" readonly>
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="deleteProduct()" color="primary"> Excluir </button>
    <button mat-raised-button (click)="cancel()"> Cancelar </button>
</mat-card>